<configuration>
    <property name="LOG_HOME" value="/data/logs/coin/bitcoin"/>
    <property name="APP_NAME" value="eco-bitcoin-currency"></property>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">   
    <!-- encoder 默认配置为PatternLayoutEncoder -->   
    <encoder>   
      <pattern>%d{HH:mm:ss.SSS} [%p] %c %L - %m%n</pattern>   
    </encoder>   
  </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>64 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <prudent>true</prudent>
    </appender>

  <!-- 异步输出 -->
  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
      <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
      <discardingThreshold>0</discardingThreshold>
      <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
      <queueSize>512</queueSize>
      <!-- 添加附加的appender,最多只能添加一个 -->
      <appender-ref ref="FILE"/>
  </appender>
  <logger name="com.c2b" level="info"></logger>
  <logger name="com.tfcc.client" level="off"></logger>
  <logger name="org.bitcoinj" level="info"></logger>
  <logger name="com.c2b.wallet.mapper" level="DEBUG"></logger>
  <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="DEBUG"></logger>
 
   
  <!-- <root level="trace"> -->             
  <root level="info">             
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ASYNC" />    
  </root>     
     
 </configuration>