<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c2b.coin.user.mapper.UserOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.c2b.coin.user.entity.UserOperationLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="ua" jdbcType="VARCHAR" property="ua" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="param" jdbcType="VARCHAR" property="param" />
  </resultMap>
</mapper>
